
<head>
    <meta charset="UTF-8">
    <title>Bize Ulaşın</title>
    <link href="~/css/bizeulas.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1>Bize Ulaşın</h1>
        <form>
            <input type="text" placeholder="Adınız"><br>
            <input type="email" placeholder="E-posta Adresiniz"><br>
            <input type="text" placeholder="Konu"><br>
            <textarea placeholder="Mesajınız"></textarea><br>
            <button type="submit">Gönder</button>
        </form>
    </div>
</body>
