@model KullaniciGirişiViewModel
<script src="~/jquery/jquery.min.js"></script>
<script src="~/jquery-validate/jquery.validate.min.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


<head>
    
    <link rel="stylesheet" type="text/css" href="~/css/girişyap.css">
    <title>Document</title>
</head>
<body>
   
    <!-- <form id="login-form">
        <label for="username">Kullanıcı Adı:</label>
        <input type="text" id="username" required>
        <br>
        <label for="password">Şifre:</label>
        <input type="password" id="password" required>
        <br>
        <input type="submit" value="Giriş Yap" id="login-button">
    </form> -->
    
    <div class="login-form">
        <form asp-action="GirişYap" asp-controller="Home" method="post">
            <div class="form-title">Giriş Yap</div>
            <div class="form-body">
                <div class="username">
                    <span class="username-title">Email</span>
                    <input asp-for="Mail" class="username-button"></input>
                </div>
                <div class="password">
                    <div class="passord-title">Şifre</div>
                    <input asp-for="Şifre" class="password-button"></input>
                </div>
                <div class="login">
                    <button class="login-button">Giriş Yap</button>

                    <p>Kaydı Olmayanlar İçin <a href="~/Home/KayıtOl">Kayıt Ol</a></p>
                    <div asp-validation-summary="All">

                    </div>
                </div>
            </div>
        </form>
    </div>

    @*<div id="feedback-box"></div>
    <script src="~/js/site.js"></script>*@
    
</body>