
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="~/css/home.css" rel="stylesheet" />
    <title>Design Your Journey</title>
</head>
<body>
        

        <div class="text-box">
            <p>WE HELP YOU TO</p>
            <h1>Design Your Journey</h1>
            <div class="icon">
                <img src="~/İmages/arrow.png" />
                
            </div>
        </div>
    

</body>


@*

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/css/home.css" rel="stylesheet" />
    <title>Design Your Journey</title>
</head>
<body>

    <section id="header" class="header">
        <div id="main-navbar" class="main-navbar">
            <div class="navbar-links">
                <ul>
                    <li><a href="~/OrnekVebSitesi\Views\Home\Index.cshtml">Anasayfa</a></li>

                    <li><a href="#">İşimiz</a></li>
                    <li><a href="#">Ne Yapıyoruz</a></li>
                    <li><a href="#">Hakkımızda></li>
                    <li><a href="Home\BizeUlaşın">Bize Ulaşın</a></li>
                </ul>
            </div>
            <div class="navbar-button">
                <a href="Home\GirişYap">Giriş Yap</a>
            </div>
        </div>

        <div class="side-navbar">
            <img src="~/İmages/logo.png" class="logo" />

            <a href="#">LETEST PROJECTS</a>
        </div>

        <div class="text-box">
            <p>WE HELP YOU TO</p>
            <h1>Design Your Journey</h1>
            <div class="icon">
                <img src="~/İmages/arrow.png" />

            </div>
        </div>
    </section>

</body>
*@
