@model KullanıcıKaytViewModel

<script src="~/jquery/jquery.min.js"></script>
<script src="~/jquery-validate/jquery.validate.min.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


<html>
<head>
    <title>Kayıt Ol Sayfası</title>
    <link rel="stylesheet" type="text/css" href="~/css/kayıtol.css">

</head>
<body>
	<div class="container">
		<form asp-action="KayıtOl" asp-controller="Home" method="post">
			<h1>Kayıt Ol</h1>
			<label for="name"><b>Ad Soyad</b></label>
			<input type="text" asp-for="İsimSoyiism" placeholder="Adınız ve soyadınızı girin" >
			

			<label for="email"><b>E-posta</b></label>
			<input type="text" asp-for="Email" placeholder="E-posta adresinizi girin" >
		

			<label for="psw"><b>Şifre</b></label>
			<input type="password" asp-for="Şifere1" placeholder="şifre belirleyin" >
			
			<label for="psw-repeat"><b>Şifre Tekrar</b></label>
			<input type="password" asp-for="Şifere2" placeholder="Şifrenizi tekrar girin" >
			
			<div asp-validation-summary="All"> 
				
			</div>
			<button type="submit">Kayıt Ol</button>
		</form>
	</div>
</body>
</html>
