<!DOCTYPE html>
<html>
<head>
	<title>Navbar Example</title>
	<style>
		nav {
			background-color: #333;
			overflow: hidden;
		}

			nav ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				display: flex;
				justify-content: space-around;
			}

			nav li {
				float: left;
			}

				nav li a {
					display: block;
					color: white;
					text-align: center;
					padding: 14px 16px;
					text-decoration: none;
				}

					nav li a:hover {
						background-color: #111;
					}
	</style>
</head>
<body>
	<nav>
		<ul>
			<li><a asp-controller="Calisanlar" asp-action="Index">Calısanlar</a></li>
			<li><a asp-controller="Worker" asp-action="Siparişler">Siparişler</a></li>
			<li><a asp-controller="Worker" asp-action="Index">Destek Talebi</a></li>
			<li><a asp-controller="Worker" asp-action="MasaKontrol">Masa Kontrol</a></li>
			<li><a asp-controller="Worker" asp-action="YemekEkle">Yemek Ekle</a></li>
			<li><a asp-controller="Worker" asp-action="MasaEkle">Masa Ekle</a></li>
		</ul>
	</nav>
</body>
</html>
