@using Restorant.Application.ViewModel._Table;
@model VM_Table_Create
<script src="~/wwwroot/jquery/jquery.min.js"></script>
<script src="~/wwwroot/jquery-validate/jquery.validate.min.js"></script>
<script src="~/wwwroot/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<!DOCTYPE html>
<html>
<head>
    <title>Giriş Sayfası</title>
    <style>
        body {
            background-color: #F7F7F7;
            font-family: Arial, sans-serif;
            font-size: 14px;
            line-height: 1.5;
            margin: 0;
            padding: 0;
        }

        form {
            background-color: #FFFFFF;
            border: 1px solid #CCCCCC;
            border-radius: 4px;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
            margin: 100px auto;
            max-width: 400px;
            padding: 20px;
        }

        h2 {
            color: #333333;
            font-size: 18px;
            font-weight: normal;
            line-height: 1.5;
            margin-top: 0;
            text-align: center;
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input[type="email"],
        input[type="password"] {
            border: 1px solid #CCCCCC;
            border-radius: 4px;
            box-sizing: border-box;
            display: block;
            font-size: 16px;
            height: 40px;
            margin-bottom: 16px;
            padding: 8px;
            width: 100%;
        }

        button[type="submit"] {
            background-color: #007AFF;
            border: none;
            border-radius: 4px;
            box-shadow: none;
            color: #FFFFFF;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            height: 40px;
            margin-top: 16px;
            width: 100%;
        }

            button[type="submit"]:hover {
                background-color: #0062CC;
            }
    </style>
</head>
<body>

    <partial name="~/Views/Worker/CalisanMenü.cshtml"></partial>
    <form asp-action="MasaKontrol" asp-controller="Worker" method="post">
        <h1>Rezervasyon iptal</h1><br />
        <h4>Rezervasyon iptali masa temizliğinden sonra yapılmalıdır</h4>
        <label>Masa No:</label>
        <input type="text" id="name" asp-for="TableNo" required>
        <button type="submit">Rezarvasyon İptal Et</button>
    </form>
    <div asp-validation-summary="All">
    </div>
    <div>
        <h4>@ViewBag.Mesaj</h4>
    </div>
</body>
</html>

